@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.second {
  background-color: #081225;
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-bottom-color: #47752d;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.triangle {
  background: none;
  width: 0;
  height: 0;
  border-left: 19px solid transparent; /* Adjust the size of the triangle */
  border-right: 19px solid transparent;
  border-bottom: 38px solid #e2e2e2; /* Color of the triangle */
  transform: rotate(90deg); /* Rotate to position the triangle appropriately */
  position: absolute;
  right: 0;
  bottom: 22px;
  transform: translateY(50%) rotate(-90deg);
}
